[submodule "agents/compliance-agent"]
	path = agents/compliance-agent
	url = https://github.com/F8ai/compliance-agent.git
[submodule "agents/formulation-agent"]
	path = agents/formulation-agent
	url = https://github.com/F8ai/formulation-agent.git
[submodule "agents/marketing-agent"]
	path = agents/marketing-agent
	url = https://github.com/F8ai/marketing-agent.git
[submodule "agents/operations-agent"]
	path = agents/operations-agent
	url = https://github.com/F8ai/operations-agent.git
[submodule "agents/patent-agent"]
	path = agents/patent-agent
	url = https://github.com/F8ai/patent-agent.git
[submodule "agents/sourcing-agent"]
	path = agents/sourcing-agent
	url = https://github.com/F8ai/sourcing-agent.git
[submodule "agents/spectra-agent"]
	path = agents/spectra-agent
	url = https://github.com/F8ai/spectra-agent.git
[submodule "agents/customer-success-agent"]
	path = agents/customer-success-agent
	url = https://github.com/F8ai/customer-success-agent.git
[submodule "agents/science-agent"]
	path = agents/science-agent
	url = https://github.com/F8ai/science-agent.git
